.main-header {
    height: 80px;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
}

.header-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    column-gap: 2rem;
}

.logo-link {
    display: flex;
    align-items: center;
    column-gap: .3rem;

    span {
        font-size: 1.8rem;
        font-weight: 500;
        display: none;
    }
}

.search-wrapper {
    flex: 1;
    position: relative;
    border: 1px solid var(--darken-bg-color);
    padding: 0 1rem;
    display: flex;
    align-items: center;

    input {
        width: 100%;
        height: 100% !important;
        background: none;
        border: none;
        font-size: 1.6rem;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 3rem;
        }
    }
}

.nav-links {
    display: none;
}

.nav-links .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}

.nav-item a, .nav-item button {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s ease all;
    text-align: center;
    font-size: 1.4rem;


    svg {
        transition: .3s ease all;
    }
}

.nav-item:hover a, .nav-item:hover a svg {
    color: #3AB795;
    fill: #3AB795;
}

.nav-item a.active {
    color: #3AB795;

    svg {
        fill: #3AB795;
    }
}

.logout-btn {
    color: var(--accent-color);
    transition: 3s ease all;

    svg {
        fill: var(--accent-color);
    }
}

.logout-btn:hover {
    color: #B22222;

    svg {
        fill: #B22222;
    }
}

.mobile-menu-icon {
    display: block;
}

.mobile-menu {
    display: block;
}

.mobile-menu-wrapper {
    z-index: 99 !important;
    position: fixed;
    top: 0;
    right: -100%;
    background: var(--bg-color);
    border-left: 1px solid var(--border-color);
    width: 20rem;
    height: 100vh;
    padding: 10rem;
    transition: .5s ease all;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 3rem;
        height: 100%;

        li a {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
        }
    }
}

.close-menu-btn {
    position: absolute;
    right: 2rem;
    top: 1rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
}

.mobile-menu-wrapper.active {
    right: 0;
}

@media screen and (min-width: 768px) {
    .mobile-menu-icon {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .nav-links {
        display: block;
    }

    .mobile-menu {
        display: none;
    }
}

@media screen and (min-width: 640px) {
    .logo-link {
        display: flex;
        align-items: center;
        column-gap: .3rem;

        span {
            font-size: 2.2rem;
            display: block;
        }
    }
}

@media screen and (min-width: 640px) {
    .mobile-menu-wrapper {
        width: 35rem;
    }
}

@media screen and (min-width: 1280px) {
    .nav-item a, .nav-item button {
        font-size: 1.6rem;
    }
}